<div title="Home" onclick="HamNav.items.click(this)" link="/admin" class="NavigatorHam Items" onmouseenter="HamNav.items.mouseEnter(this)" onmouseleave="HamNav.items.mouseLeave(this)">

</div>
<div class="NavigatorHam ItemSep"></div>
<div title="Records" link="/admin/music" onclick="HamNav.items.click(this)" class="NavigatorHam Items" onmouseenter="HamNav.items.mouseEnter(this)" onmouseleave="HamNav.items.mouseLeave(this)">
    <svg xmlns="http://www.w3.org/2000/svg" class="NavigatorHam Items Icon" fill="currentColor" viewBox="0 0 16 16">
        <path class="bgtransp" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-6 0a2 2 0 1 0-4 0 2 2 0 0 0 4 0zM4 8a4 4 0 0 1 4-4 .5.5 0 0 0 0-1 5 5 0 0 0-5 5 .5.5 0 0 0 1 0zm9 0a.5.5 0 1 0-1 0 4 4 0 0 1-4 4 .5.5 0 0 0 0 1 5 5 0 0 0 5-5z"/>
    </svg>
</div>

<div title="Chat" link="/admin/gchat" onclick="HamNav.items.click(this)" class="NavigatorHam Items" onmouseenter="HamNav.items.mouseEnter(this)" onmouseleave="HamNav.items.mouseLeave(this)">
    <svg xmlns="http://www.w3.org/2000/svg" class="NavigatorHam Items Icon" fill="currentColor"  viewBox="0 0 16 16">
        <path class="bgtransp" d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H4.414a1 1 0 0 0-.707.293L.854 15.146A.5.5 0 0 1 0 14.793V2zm5 4a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
    </svg>
</div>