<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="/essentials/admin/css.css"/>
        <script src="/essentials/admin/nav.js"></script>
        <script src="https://unpkg.com/@popperjs/core@2"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        
        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

        <title>Document</title>
    </head>
    <body class="bodyflex">
        <div class="NavigatorHam">
            <div style="height:4px; width: 100%;"></div>



            <%- Naver %> 



        </div>

        <div class="bodie">
            <iframe src="https://edgedevinteractive.com/analytics/index.php?module=Widgetize&action=iframe&moduleToWidgetize=Dashboard&actionToWidgetize=index&idSite=2&period=day&date=yesterday&token_auth=847a29a329287d09cf1ba9814b7e39aa" frameborder="0" marginheight="0" marginwidth="0" height="100%" class="marg-10-ntb w-fa" style="margin-right: 0px;"></iframe>


        </div>
    </body>
</html>