<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

        <title>Internal Server Error - 500</title>
    </head>
    <body style="height: -webkit-fill-available;height: 100vh;max-height: 100vh;/*overflow-x: auto;*/overflow-y: hidden;margin: 0px!important;font-family: monospace;">
        <div style="height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;">
            <h1 style="font-size: 150px;line-height: 150px;font-weight: bold;
            margin: 0px;">500</h1>
            <h1 style="margin: 0px;font-size: xxx-large;">Internal Server Error</h1>
        </div>
        <footer style="
        color: #f0f0f0;
        font-size: 12px;
        margin: auto;
        padding: 0px 30px 0px 30px;
        position: relative;
        clear: both;
        height: 10%;
        background-color: #272727;
        
        display: flex;
        align-items: center;">
            <p>&copy; EDGE Dev Interactive</p>
        </footer>
    
    </body>
</html>