<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <!-- UIkit CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/css/uikit.min.css" />

        <!-- UIkit JS -->
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/js/uikit.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/uikit@3.9.4/dist/js/uikit-icons.min.js"></script>

        

        <link rel="stylesheet" href="/essentials/admin/login.css" />
        <title>Document</title>
    </head>
    <body>
        <div class="containerx">

            <form action="/services/admin/auth/login" method="post">
                <div class="uk-margin">
                    <label for="TOTPCode" class="form-label" title="Required">TOTP Code</label>
                    <input class="uk-input" type="text" placeholder="TOTP Code" name="TOTPCode" id="TOTPCode" required>
                </div>
                
                <input type="submit" class="uk-button uk-button-primary">
            </form>

        </div>
    </body>
</html>